<!-- File Name: footer.ejs
Author's Name: Vaishali Sareen
WebSite Name: https://productapplication.herokuapp.com/
File Description: this is the shared footer which has al the javascripts link. -->
<footer class="navbar navbar-fixed-bottom">
  &copy; Copyrights|VS 2016

</footer>

<!-- Jquerry comes first -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<!--this jquery is to add the validation for the passwords validation -->
<script src="/javascripts/jquery.validate.min.js"></script>
<!-- link to in built javascript -->
<script src="/javascripts/script.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>