<!-- File Name: about.ejs
Author's Name: Vaishali Sareen
WebSite Name: https://productapplication.herokuapp.com/
File Description: This page displays the info about the application. -->
<% include partials/header.ejs %> <!-- shared header -->

<div class="container-fluid about"> <!-- dividing the page into a division container -->
  <div id="navigation"><i class="fa fa-bars" aria-hidden="true"></i></div>
  <div class="container name ">
    <!--<img src="/images/pic.png">-->
    <h1>About the Application</h1>
      <p>This is the inventory management application which allows the user to keep the record of the prodcts. Here the products are mobile phones.
    It keeps the record of the mobile phones in the database. Users are able to view the details of the mobiles like price, model, internal features. etc. It has two sides front-end and back-end.
      Only the adminitrators of the side are able to edit and delete the products according to the demand in the  market.
    </p>
  </div>
</div>
<% include partials/footer.ejs %> <!-- shared footer -->