<!-- File Name: index.ejs
Author's Name: Vaishali Sareen
WebSite Name: https://productapplication.herokuapp.com/
File Description: This is the home page -->
<% include partials/header.ejs %><!-- shared header -->

<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg">
  <div class="container home">
   <h1>Inventory Application</h1>
  </div>
<% include partials/footer.ejs %><!-- shared footer -->
